@import '../assets/scss/reset.scss';
@import '../assets/scss/common.scss';
@import '../../node_modules/flatpickr/dist/themes/dark.css';

.select-river-wrapper {
  display: flex;
  padding: 0 $default-padding $default-padding;
}

select {
  background: #fff;
  font-size: 1.5em;
  width: 100%;
}

.btn-search-options {
  background: #fff;
  border-radius: 5px;
  border: 1px solid $grey;
  cursor: pointer;
  font-weight: 500;
  margin: 0 auto 0 1em;
  text-align: center;
  transition: all 0.5s ease-in-out;
  user-select: none;

  &:hover {
    transition: all 0.5s ease;
    opacity: 0.85;
  }

  &:active {
    transition: all 0.5s ease;
    opacity: 0.75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.graph-options-control {
  padding: 0 $default-padding;
}

.graph-options {
  margin-top: 0;
  padding: 1em $default-padding;
}

.graph-control-label {
  display: block;
  margin: 0 0 1em;
}

.graph-controls-menu {
  display: flex;
  flex-wrap: wrap;
}

.graph-radio-label {
  cursor: pointer;
  display: flex; // keeps aligned to radio
  flex: 1 1 50%;
  margin: 0 auto 0.5em;
}

.graph-period {
  transform: translateY(-0.3em);
}

.graph-loading {
  padding: 1em 0;
}

.radio-title {
  display: inline-block;
  min-width: 130px;
}

#radio-dates-period,
#radio-dates-date {
  flex: 0 0 auto; // keeps aligned to radio
}

.label-name {
  display: inline-block;
  width: 8em;
}

input[type="text"],
input[type="number"],
input[type="radio"] {
  border: 1px solid $grey;
  padding: 0.1em;
  font-size: 1.5em;
}

.condition-wrapper {
  background: $conditions-color;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;

  > div {
    flex: 1 1 33.3%;
    padding: 1em
  }
}

.latest-cfs {
  text-align: center;
}

.rate-group {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.rate {
  color: $orange;
  font-weight: bold;
  font-size: 4em;
}

.rate-abbr {
  color: $orange-light;
  font-size: 2em;
  font-weight: bold;

  &[title] {
    border-bottom: 1px dotted;
  }
}

.time-history {
  font-size: 0.8em;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0 0 .25em;
  }
  // hide the first once since the data is already displayed
  li:first-child {
    display: none !important;
  }

  .cfs {
    font-size: 0.8em;
    margin-left: -0.20em;
  }
}

.history-title {
  margin: 0 0 .25em;
}

.graph {
  image-rendering: pixelated;
  height: auto;
  width: 100%;
}

.graph-wrapper {
  text-align: center;
}

footer {
  font-size: 0.8em;
  padding: $default-padding 0;
  text-align: center;
}

.color-picker {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.25s;

  &:hover {
    opacity: 1;
  }
}

.loading {
  align-items: center;
  background: rgba(255,255,255,0.9);
  display: none;
  font-size: 1.2em;
  justify-content: center;
  padding-bottom: $default-padding;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.error {
  font-size: 1.2em;
  text-align: center;
  padding: $default-padding;
  width: 100%;
}

// transitions
.fade-enter-active, .fade-leave-active {
  transition: all 0.35s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  transform: translateY(-2em);
}
